{% extends 'backReclam.html.twig' %}

{% block title %}Modification de la Reponse{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Styles pour le thème noir et violet */
        body {
            background-color: #4a235a; /* Violet foncé pour l'arrière-plan */
            color: #ffffff; /* Blanc pour la couleur du texte */
            font-family: Arial, sans-serif; /* Changer la police si nécessaire */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; /* Aligner les éléments en colonne */
            height: 100vh; /* Assure que le contenu est centré verticalement */
            margin: 0; /* Supprime les marges par défaut du body */
        }

        h1 {
            color: #8a2be2; /* Violet plus clair pour la couleur du titre */
            text-align: center; /* Centrage horizontal */
        }

        /* Styles pour centrer le contenu */
        .content-container {
            text-align: center; /* Centrage horizontal */
            margin: auto; /* Centrage vertical si le contenu est moins que la hauteur de l'écran */
            width: 70%; /* Largeur du contenu */
        }

        /* Styles pour les liens */
        a {
            color: #bb86fc; /* Violet clair pour la couleur du lien */
            text-decoration: none; /* Supprimer le soulignement des liens */
            display: block; /* Affichage en bloc pour occuper toute la largeur disponible */
            margin-top: 10px; /* Espacement entre les liens */
        }

        /* Modifier les styles pour les liens au survol si nécessaire */
        a:hover {
            color: #ffffff; /* Blanc au survol du lien */
            text-decoration: underline; /* Souligner le lien au survol */
        }

        /* Styles pour l'image */
        .header-image {
            width: 100%; /* Taille de l'image */
            max-width: 800px; /* Largeur maximale de l'image */
            margin-bottom: 20px; /* Espacement en bas de l'image */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content-container">
        
        <h1>Edit Reponse</h1>

        {{ include('reponse/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_reponse_index') }}">Retourner à la liste</a>

        {{ include('reponse/_delete_form.html.twig') }}
    </div>
{% endblock %}
